body section#cuerpo h1, body section#cuerpo h2{
	color: rgba(255, 255, 255, 0.95);
	font-family: 'Lato', Arial;
	font-size: 1.4em;
	font-weight: 300;
	margin: 0;
	padding: 15px 5%;
}

body section#cuerpo article.articulo{
	height: auto;
	width: 47%;
	background-color: rgba(189, 197, 182, 0.3);
	display: inline-block;
	vertical-align: top;
	margin: 15px 0 15px 2%;
}

body section#cuerpo article.listados{
	height: auto;
	width: 47%;
	background-color: rgba(189, 197, 182, 0.3);
	display: inline-block;
	vertical-align: top;
	margin: 15px 0 15px 2%;
}

body section#cuerpo article figure{
	height: auto;
	overflow: hidden;
	margin: 15px 5%;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1%;
}

body section#cuerpo article figure h4{
	padding: 10px 5%;
	background-color: rgba(38, 38, 38, 9.5);
	margin: 0px;
	color: rgb(250, 245, 245);
}

body section#cuerpo article figure figcaption{
	display: inline-block;
	width: 49%;
	font-size: 0.9em;
}

body section#cuerpo article figure figcaption div{
	margin: 10px;
}

body section#cuerpo article figure figcaption div div{
	float: left;
	clear: both;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

body section#cuerpo article figure img{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

body section#cuerpo article figure a{
	margin: 10px 0px 10px 18%;
	padding: 10px 5%;
	background-color: rgba(226, 129, 23,0.9);
	text-decoration: none;
	color:white;
	text-align: center;
	width: 50%;
	display: block;
}

body section#cuerpo article p{
	font-family: 'Lato', arial;
	font-size: 1.2em;
	text-align: justify;
	margin: 15px 5%;
	padding: 0px;
	display: inline-block;
}

body section#cuerpo article div{
	display: inline-block;
	width: 90%;
	margin: 15px 5%;
	text-align: right;
}

body section#cuerpo article div a{
	background-color: rgba(226, 129, 23,0.9);
	padding: 15px;
	text-decoration: none;
	color:whitesmoke;
	display: inline-block;
	text-align: center;
}

.solar{
	background-color: rgba(241, 167, 9, 0.98);
}

.accesorios{
	background-color: rgba(241, 102, 9, 0.98);
}

.generadores-eolicos{
	background-color: rgba(10, 169, 199, 0.98);
}


@media screen and (max-width:1052px){

}

@media screen and (max-width:1024px){
	body section#cuerpo h1, body section#cuerpo h2{
		font-size: 1.2em;
	}

	body section#cuerpo article p, a{
		font-size: 1em;
	}
}

/* Empieza vista tablet 768px */
@media screen and (max-width:768px){
	body section#cuerpo article div a{
	margin-bottom: 5px;
}

}


/* Empieza vista movil 620px */
@media screen and (max-width:620px){

	body section#cuerpo article.articulo, body section#cuerpo article.listados{
		height: auto;
		width: 90%;
		margin: 15px 5%;
	}
	body section#cuerpo h1, body section#cuerpo h2{
		font-weight: 300;
	}

	body section#cuerpo article figure a, body section#cuerpo article figure figcaption div div{
		font-size: 0.8em;
	}

}

@media screen and (max-width: 479px){
	
}
