body section#cuerpo h1, body section#cuerpo h2{
	color: whitesmoke;
	font-family: 'Lato', Arial;
	font-size: 1.4em;
	font-weight: 100;
	margin: 0;
	padding: 10px 5%;
}

body section#cuerpo article figure{
	border-bottom: 3px #f3ad25 solid;
	height: 150px;
	overflow: hidden;
	vertical-align: top;
}

body section#cuerpo article figure img{
	display: block;
	width:100%;
}

body section#cuerpo article p{
	color:#888888;
	font-family: 'Lato', arial;
	font-size: 1.1em;
	text-align: left;
	margin: 15px 5%;
	padding: 0px;
}
#h-art-en{
	background-color: rgb(143,190,0);
}
#h-art-so{
	background-color: rgb(218, 201, 7);
}
#h-art-eo{
	background-color: rgb(64,192,203);
}
#h-art-hi{
	background-color: rgb(213, 147, 31);
}
#h-art-in{
	background-color: rgb(88, 153, 6);	
}

body section#cuerpo article a.btn-destacado{
	width:25%;
	left:35%;
}

.art-box{
	position: relative;
}

.art-destacado{
	display: inline-block;
	height: 305px;
	margin:1%;
	vertical-align: top;
	width: 98%;
}

body section#cuerpo article p.art-destacado-p, body section#cuerpo article figure.art-destacado-figure{
	display: inline-block;
	margin:15px 0%  15px 2.2%;
	width: 30%;
	height: auto;
}

.art-nivel1{
	display: inline-block;
	height: 420px;
	margin:1% 1% 1% 0.5%;
	vertical-align: top;
	width: 41%;
}

.art-nivel2{
	display: inline-block;
	height: 550px;
	margin-left:1%;
	vertical-align: top;
	width: 32%;
}

.slider{
	display: inline-block;
	height: 420px;
	width: 56%;
	margin:1% 0.5% 1% 1%;
}

.titulo1{

	font-size: 1.4em;
	margin: 10px 5%;
}

.btn-masinfo{
	color: white;
	background-color: #f3ad25;
	padding: 8px;
	border-radius: 2px;
	display: block;
	width: 70%;
	height: auto;
	margin:0 auto;
	bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-weight: 300;
	font-size: 0.9em;
	position: absolute;
	left: 15%;
}
.btn-masinfo:hover{
	background-color: #ee700a;
	
}
.separador{
	display: none;
	height: 20%;
	width: 100%;
}


@media screen and (max-width:1052px){


}

@media screen and (max-width:1024px){

	body section#cuerpo h1, body section#cuerpo h2{
		font-size: 1em;
	}

	body section#cuerpo article p{
		font-size: 1.15em;
	}
	body section#cuerpo article a{
		font-size: 0.9em;
	}

	.art-destacado{
		height: 330px;
	}

	body section#cuerpo article figure{
		height: 90px;
	}

	.slider, .art-nivel1{
		height: 380px;
	}

	.art-nivel2{
		height: 600px;
	}

	.art-destacado{
		height: 360px;
	}

}


/* Empieza vista tablet 768px */
@media screen and (max-width:768px){
	

	body section#cuerpo article p{
		font-size: 1.04em;
	}

}


/* Empieza vista movil 620px */
@media screen and (max-width:620px){
	

	.slider{
		width: 98%;
		margin: 5px 1%;
	}

	.art-nivel1{
		height: auto;
		margin: 0 1% 5px 1%;
		width: 98%;
	}

	.art-nivel2{
		height: auto;
		margin: 0 1% 5px 1%;
		width: 98%;
	}

	body section#cuerpo h1, body section#cuerpo h2{
		font-size: 1.6em;
		font-weight: 300;
	}

	.art-destacado{
		height: auto;
	}

	body section#cuerpo article p.art-destacado-p{
		margin: 15px 5%;
		width: auto;
	}

	body section#cuerpo article figure, body section#cuerpo article figure.art-destacado-figure{
		height: 200px;
	}

	body section#cuerpo article figure.art-destacado-figure{
		margin: 0px;
		width: 100%;
	}

	body section#cuerpo article p{
		font-size: 1.3em;
		text-align: justify;
	}

	.separador{
		display: block;
		height: 55px;
		width: 100%;
	}
	body section#cuerpo article a.btn-destacado{
		width:80%;
		left:7%;
	}

}

@media screen and (max-width: 479px){
	
	
}
