@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,100italic|Muli:300,400|Oxygen:400,300,700);

#contenedor{
	margin:0 auto;
	width: 1052px;
}
#contenedor section{
	
	background: white;
	height: 250px;
	margin:0 auto;
	width: 1002px;

}

body{
	font-family: "Muli", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width:1052px){
 	#contenedor{
	width: 100%;
}

#contenedor section{
	width: 100%;
}

}

@media screen and (max-width:1024px){

#contenedor{
	width: 768px;
}
#contenedor section{
	width: 738px;
}


}


/* Empieza vista tablet 768px */
@media screen and (max-width:768px){
#contenedor{
	width: 100%;
}
#contenedor section{
	width: 95%;
}

}


/* Empieza vista movil 620px */
@media screen and (max-width:620px){
#contenedor{
	width: 480px;
}
#contenedor section{
	width: 438px;
}

}

@media screen and (max-width: 479px){
	#contenedor{
	width: 320px;
}
#contenedor section{
	width: 320px;
}
	
}
