@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,100italic|Muli:300,400|Oxygen:400,300,700);

body{
	background: url(../img/back-grass.jpg);
	background-position: center;
	font-family: "Muli", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

body section#cuerpo h1, body section#cuerpo h2{
	color: whitesmoke;
	font-family: 'Lato', Arial;
	font-size: 1.4em;
	font-weight: 100;
	margin: 0;
	padding: 10px 5%;
}

body section#cuerpo article figure{
	position: relative;
	vertical-align: top;
}
body section#cuerpo article figure img{
	height: 150px;
	width:100%;
}

body section#cuerpo article figure figcaption{
	color:	white;
	position: absolute;
	top: 116px;
	padding: 10px 0px 5px 3%;
	background-color: rgba(0,0,0,0.5);
	width: 97%;
}

body section#cuerpo article p{
	font-family: 'Lato', arial;
	font-size: 1.2em;
	text-align: justify;
	margin: 15px 5%;
	padding: 0px;
}
#h-art-en{
	background-color: rgba(143,190,0,0.6);
}
#h-art-so{
	background-color: rgba(218, 201, 7, 0.6);
}
#h-art-eo{
	background-color: rgba(64,192,203,0.6);
}
#h-art-hi{
	background-color: rgba(213, 147, 31, 0.59);
}
#h-art-in{
	background-color: rgba(88, 153, 6, 0.6);	
}

#contenedor{
	margin:0 auto;
	width: 100%;
}
#contenedor #cuerpo{
	background: rgba(248, 246, 242, 0.94);
	height: auto;
	margin:0 auto;
	margin-bottom: 100px;
	width: 1002px;

}
.btn-destacado{
	width:25% !important;
}

.art-box{
	background-color: rgba(2, 2, 2, 0.12);
}

.art-destacado{
	display: inline-block;
	height: 300px;
	margin:1%;
	vertical-align: top;
	width: 98%;
}

.art-destacado-p{
	display: inline-block;
	margin:15px 0%  15px 2.2% !important;
	width: 30%;
}

.art-nivel1{
	display: inline-block;
	height: 300px;
	margin:1% 1% 1% 0.5%;
	vertical-align: top;
	width: 41%;
}

.art-nivel2{
	display: inline-block;
	height: 300px;
	margin-left:1%;
	vertical-align: top;
	width: 32%;
}

.shadow {
	box-shadow: 0px 15px 34px 0px black;
}

.slider{
	display: inline-block;
	height: 300px;
	width: 56%;
	margin:1% 0.5% 1% 1%;
}

.titulo1{

	font-size: 1.4em;
	margin: 10px 5%;
}

.btn-masinfo{
	color: white;
	background-color: rgba(226, 129, 23,0.9);
	padding: 15px;
	border-radius: 5px;
	display: block;
	width: 60%;
	height: auto;
	margin:0 auto;
	text-decoration: none;
	text-align: center;
	font-weight: 300;
	box-shadow: 0px 3px 0px rgb(194, 107, 12);
}



@media screen and (max-width:1052px){
 	#contenedor{
	width: 100%;
}

#contenedor section#cuerpo{
	width: 95%;
}

}

@media screen and (max-width:1024px){

#contenedor{
	width: 100%;
}
#contenedor section#cuerpo{
	width: 738px;
}


}


/* Empieza vista tablet 768px */
@media screen and (max-width:768px){
#contenedor{
	width: 100%;
}
#contenedor section#cuerpo{
	width: 95%;
}

}


/* Empieza vista movil 620px */
@media screen and (max-width:620px){
#contenedor{
	width: 100%;
}
#contenedor section#cuerpo{
	width: 438px;
}

}

@media screen and (max-width: 479px){
	#contenedor{
	width: 100%;
}
#contenedor section#cuerpo{
	width: 320px;
}
	
}
