
/* EMPIEZA ESTILOS QUE SE MOSTRARA PARA PANTALLAS SUPERIORES A 1024 PX */
footer {

	background: #F9F2E7;
	height: 347px;
	margin:0 auto;
	padding-top: 70px;
	width:100%;
}

footer div div h3{
	color: rgb(54, 45, 42);
	display: block;
	font-family: 'oxygen', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0px;
}

footer div div div a{
	color:white;
	display: block;
	height: 52px;
	text-decoration: none;
	transition:all 0.5s ease;
}

footer div div div a:hover{
	text-shadow: rgba(255,255,255,9.9) 0px 0px 10px;
}

footer div div div a img{
	display: inline-block;
	margin: 10px 10px 5px 10px;
	width: 32px;
}

footer div div div a p{
	display: inline-block;
	font-size: 1.2em;
	margin: 15px 0px 0px 0px;
	vertical-align: top;
}

footer div div ul{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}

footer div div ul li{
	margin: 0px;
}

footer div div ul li a{
	color:#ee700a;
	display: block;
	padding: 2px 0px;
	text-decoration: none;
}

footer div div ul li a:hover{
	color: rgb(54, 45, 42);
}

footer #redes-sociales{
	display: inline-block;
	height: 52px;
	margin-top: 20px;
	width: 100%;
}

footer div div#div-googleplus{
 	background: #be2102;
 }

footer div div#div-facebook{
 	background: #294173;
 }

footer div div#div-twitter{
 	background: #258ab7;
 }

footer #copyright{
	background-color: rgb(54, 45, 42);
	color: rgb(122, 114, 114);
	height: 50px;
	margin-top:	15px;
	width: 100%;

}
footer #copyright p{
	font-size: 0.8em;
	margin: 0px;
	padding-top: 15px;
	text-align: center;
}

footer #contenedor-footer{
	height: 282px;
	margin:0 auto;
	width: 1002px;
	
}

.footer-div-redes-sociales{
	border-radius: 5px;
	margin: 0 0.6%;
 	display:inline-block;
 	height: 52px;
 	width: 32%;
 }

.footer-div{
	display: inline-block;
	float: left;
	height: 170px;
	margin:20px 10px 10px 10px;
	vertical-align: top;
	width: auto;
}


/* EMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 1024 PX */
@media screen and (max-width:1024px){
	footer {
		height: 270px;
	}

	footer div div h3{
		font-size: 1em;
	}

	footer div div div a img{
		margin: 8px 10px 5px 10px;
		width: 25px;
	}

	footer div div div a p{
		font-size: 0.8em;
		margin: 12px 0px 0px 0px;
	}

	footer div div ul li a{
		font-size: 0.78em;
	}

	footer #contenedor-footer{
		height: 220px;
		margin:0 auto;
		width: 738px;
	}
	footer #copyright{
		margin-top: 0px;
	}

	footer #redes-sociales{
		margin-top: 10px;
	}

	.footer-div{
		display: inline-block;
		float: left;
		height: 135px;
		margin:10px 5px 10px 10px;
		vertical-align: top;
		width: auto;
	}

	.footer-div-redes-sociales{
	 	height: 40px;
	 }

	 .footer-div-redes-sociales a{
	 	height: 40px;
	 }

	}

/* EMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 768 PX */
@media screen and (max-width:768px){
	footer {
		height: 245px;
		padding-top: 55px;
	}
	footer div div h3{
		font-size: 0.9em;
	}

		footer div div ul li a{
		font-size: 0.65em;
	}

	footer div div div a img{
		margin: 5px 10px 0px 10px;
		width: 25px;
	}

	footer div div div a p{
		margin: 8px 0px 0px 0px;
		font-size: 0.65em;
	}

	footer #contenedor-footer{
		height: 195px;
		width: 672px;
	}
	footer #copyright{
		margin-top: 0px
		}

	footer #redes-sociales{
		margin-top: 10px;
		height: 35px;
	}

	.footer-div{
		height: 120px;
	}

	.footer-div-redes-sociales{
	 	height: 35px;
	 }

	 .footer-div-redes-sociales a{
	 	height: 35px;
	 }

}


/* EEMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 712 PX */
@media screen and (max-width: 712px){
		
	footer #contenedor-footer{
		width: 646px;
	}
}

/* EMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 672 PX */
@media screen and (max-width: 672px){
	footer #contenedor-footer{
		width: 612px;
	}

	.footer-div{
		margin: 10px 0px 10px 10px;
	}

}

/* EMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 620 PX - VISTA MOVIL */
@media screen and (max-width:620px){

	footer{
		height: 1240px;
		padding-top: 10px;
	}

	footer div div a{
		color: rgb(60, 54, 44);
	}

	footer div div h3{
		background-color: rgb(60, 54, 44);
		border-radius: 3px;
		color:rgb(248, 246, 242);
		font-size: 1.5em;
		font-weight: bold;
		margin: 0% 1%;
		padding: 8px 0px;
		text-align: center;
		width: 98%;
	}

	footer div div div a {
		text-align: center;
	}

	footer div div div a img{
		margin: 8px 10px 0px 10px;
		width: 36px;
	}

	footer div div div a p{
		font-size: 2em;
		margin: 6px 0px 0px 0px;
	}

	footer div div ul li{
		background-color: #f5ce91;
		border-radius: 5px;
		margin: 5px;
		padding: 5px;
		text-align: center;
	}

	footer div div ul li a{
		font-size: 1.2em;
		font-weight: bold;
	}


	footer #contenedor-footer{
		height: 1190px;
		width: 438px;
	}

	footer #redes-sociales{
		display: inline-block;
		height: 180px;
		width: 100%;
	}

	.footer-div-redes-sociales{
		border-radius: 5px;
		margin: 5px 2.5%;
	 	display:block;
	 	height: 50px;
	 	width: 95%;
 	}

	.footer-div{
		display: block;
		height: auto;
		margin: 0px;
		width: 100%;
	}
}


/* EMPIEZA ESTILOS QUE SE MOSTRARA HASTA UNA RESOLUCION MAXIMA DE 479 PX - VISTA MOVIL */
@media screen and (max-width: 479px){
	footer #contenedor-footer{
		width: 320px;
	}

